<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>电影信息 - {{ title }}</title>
        <!-- 引入 WeUI -->
    <link rel="stylesheet" href="//res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css"/>
    <link rel="stylesheet" href="//weui.io/example.css"/>
  </head>
  <body>
    <div class="page flex js_show">
      <div class="page__hd">
        <h1 class="page__title">{{ title }} <span>{{ attrs.year[0] }}</span></h1>
        <p class="page__desc">豆瓣评分: {{ rating.average }} ( {{rating.numRaters}} 人评价)</p>
      </div>
      <div class="page__bd page__bd_spacing">
        <div class="weui-flex">
          <div class="weui-flex__item">
            <p class="weui-media-box__desc"><span style="color: black">导演: </span>{{ attrs.director }}</p>
            <p class="weui-media-box__desc"><span style="color: black">主演: </span>{{ attrs.cast }}</p>
            <p class="weui-media-box__desc"><span style="color: black">类型: </span>{{ attrs.movie_type }}</p>
            <p class="weui-media-box__desc"><span style="color: black">国家/地区: </span>{{ attrs.country }}</p>
            <p class="weui-media-box__desc"><span style="color: black">上映日期: </span>{{ attrs.pubdate }}</p>
            <p class="weui-media-box__desc"><span style="color: black">片长: </span>{{ attrs.movie_duration }}</p>
          </div>
          <div><img src="{{ image }}" alt></img></div>
        </div>
        <div class="weui-flex">
          <div class="weui-flex__item">
            <div class="weui-loadmore">
                <i class="weui-loading"></i>
                <span class="weui-loadmore__tips">云图正在加载...</span>
                <h2 class="title">豆瓣短评关键字: </h2>
                <img src="/app/wordcloud?q={{mid}}&t=movie" alt></img>
            </div>
          </div>
        </div>
        <div class="weui-footer weui-footer_fixed-bottom">
          <p class="weui-footer__links">
            <a href="http://iamted.cc" class="weui-footer__link">关于此应用</a>
            <a href="{{ mobile_link }}" class="weui-footer__link">豆瓣原始页</a>
          </p>
          <p class="weui-footer__text">Copyright © 2008-2018 iamted.cc</p>
        </div>
      </div>
    </div>
  </body>
</html>
